<%- include("./partials/header") %>

<h1>Welcome to the home page</h1>

<ul>
	<li><a href="/register">Sign up</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>

<%- include("./partials/footer") %>