<%- include("./partials/header") %>

<div class="container">
	<h1>Welcome to the home page</h1>
	<div class="container">
		<ul>
			<li><a href="/register">Sign up</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</div>

<%- include("./partials/footer") %>