<%- include("./partials/header") %>

<div class="container">
	<h1>Welcome to the home page</h1>
	<div class="container">
		<a href="/register">Sign up</a>
		<a href="/login">Login</a>
	</div>
</div>

<%- include("./partials/footer") %>