.form{
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.todo{
	display: inline-flex;
	justify-content: space-between;
}

.container{
	display: flex;
	flex-direction: column;
}

.done-todo{
	display: none;
}